<% if user.approved %>
  <div class="box">
    <table>
      <tr>
        <td>
          <img src='/images/thumb-up.svg'/>
        </td>
        <td class="width200px">
          <span class="enlarge">
            <%= user.name %>
          </span>
        </td>
        <td><%= link_to 'Details', user_path(user) %></td>
        <td><%= link_to 'Edit', '/user/' + user.id.to_s + '/edit' %></td>
      </tr>
    </table>
  </div>
<% else %>
  <div class="box">
    <table>
      <tr>
        <td>
          <img src='/images/thumb-down.svg'/>
        </td>
        <td class="width200px">
          <span class="enlarge">
            <%= user.name %>
          </span>
        </td>
        <td><%= link_to 'Details', user_path(user) %></td>
        <td><%= link_to 'Edit', '/user/' + user.id.to_s + '/edit' %></td>
        <td><%= link_to 'Approve', '/approve/' + user.id.to_s, :class => 'button', method: :patch %></td>
      </tr>
    </table>
  </div>
<% end %>
