<% if user.approved %>
  <div class="smallerbox">
    <table>
      <tr>
        <td>
          <img src='/images/thumb-up.svg'/>
        </td>
        <td class="width200px">
          <span class="enlarge">
            <%= user.name %>
          </span>
        </td>
        <td><%= link_to 'Details', user_path(user) %></td>
        <td><%= link_to 'Edit', '/user/' + user.id.to_s + '/edit' %></td>
      </tr>
    </table>
  </div>
<% else %>
  <div class="box">
    <table>
      <tr>
        <td>
          <div style="width: 60px;"></div>
        </td>
        <td class="width200px">
          <span class="enlarge">
            <%= user.name %>
          </span>
        </td>
        <td><%= link_to 'Details', user_path(user) %></td>
        <td><%= link_to 'Edit', '/user/' + user.id.to_s + '/edit' %></td>
      </tr>
    </table>
  </div>
<% end %>
