<div class="box">
  <h2>Edit User</h2>
  <%= form_with(model: @user, url: "/user/" + @user.id.to_s + "/edit") do |f| %>
    <div>
      <%= f.label :email, "Email" %>
      <%= f.email_field :email %>
    </div>
    <div>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.submit "Update User" %>
    </div>
  <% end %>
</div>
<%= link_to 'Back', users_path, :class => 'button' %>
