<div class="box">
  <h2><%= transaction.action.titlecase %></h2>
  <table>
    <tr>
      <td>Amount:</td>
      <td>
        <% if transaction.amount > 0 %>
          <span class="green">
            +<%= number_to_currency(transaction.amount) %>
          </span>
        <% else %>
          <span class="red">
            <%= number_to_currency(transaction.amount) %>
          </span>
        <% end %>
      </td>
    </tr>
    <% if transaction.action=='purchase' || transaction.action=='sale' %>
      <tr>
        <td>Stock:</td>
        <td><%= transaction.stock %></td>
      </tr>
      <tr>
        <td>Quantity:</td>
        <td><%= transaction.quantity %></td>
      </tr>
    <% end %>
    <% if current_user.admin %>
      <tr>
        <td>User:</td>
        <td><%= transaction.user.name %></td>
      </tr>
    <% end %>
    <tr>
      <td>Date:</td>
      <td><%= transaction.created_at.localtime.to_s.split(" ")[0] %></td>
    </tr>
    <tr>
      <td>Time:</td>
      <td><%= transaction.created_at.localtime.to_s.split(" ")[1] %></td>
    </tr>
  </table>
</div>
