<div class="box">
  <h2>
    <%= transaction.action.titlecase %>
  </h2>
  <br>
  <% if transaction.amount > 0 %>
    <h1 class="green">
      +<%= number_to_currency(transaction.amount) %>
    </h1>
  <% else %>
    <h1 class="red">
      <%= number_to_currency(transaction.amount) %>
    </h1>
  <% end %>
  <br>
  <table>
    <% if transaction.action=='purchase' || transaction.action=='sale' %>
      <tr>
        <td>Stock:</td>
        <td><%= transaction.stock %></td>
      </tr>
      <tr>
        <% if transaction.action=='purchase' %>
          <td>Purchase Price:</td>
        <% else %>
          <td>Sale Price:</td>
        <% end %>
        <td><%= number_to_currency((transaction.amount / transaction.quantity).abs) %></td>
      </tr>
      <tr>
        <td>Quantity:</td>
        <td><%= transaction.quantity %></td>
      </tr>
    <% end %>
    <% if current_user.admin %>
      <tr>
        <td>User:</td>
        <td><%= transaction.user.name %></td>
      </tr>
    <% end %>
    <tr>
      <td>Date:</td>
      <td><%= transaction.created_at.localtime.to_s.split(" ")[0] %></td>
    </tr>
    <tr>
      <td>Time:</td>
      <td><%= transaction.created_at.localtime.to_s.split(" ")[1] %></td>
    </tr>
  </table>
</div>
