<h1>Purchase</h1>
<div class="box">
  <h2><%= @company %></h2>
  <br>
  <h1 class="purple"><%= number_to_currency(@price) %></h1>
  <%= form_with(model: @transaction, url: "/purchase/" + @company + "/" + @price.to_s) do |f| %>
    <div>
      <%= f.label :quantity, "Quantity" %>
      <%= f.number_field :quantity, step: 1 %>
    </div>
    <div>
      <%= f.submit "Purchase" %>
    </div>
  <% end %>
</div>
<%= link_to 'Back', buy_path, :class => 'button' %>
